{% extends "blog/base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="post" style="padding: 0px 150px 0px 130px;">
        <h1 style="font-size: 100px; text-shadow: 0 5px 20px rgba(0,0,0,0.5); text-align:center;">
            <strong>404</strong>
        </h1>
    </div>
    <div>
        <h1 style="text-shadow: 0 5px 20px rgba(0,0,0,0.2); text-align:center;">
            <strong>We could not find the page you were looking for, so we found something to make you laugh to make up for it.</strong>
        </h1>
    </div>
    <div class="post" style="padding:70px 0px;">
        <img src="{% static 'pythonjoke.jpg' %}" width="850px" height="600px" />
    </div>

{% endblock %}