
.idea/
venv/
mysite/__init__.pyc
mysite/settings.pyc
mysite/urls.pyc
mysite/wsgi.pyc

blog/__init__.pyc
blog/admin.pyc
blog/migrations/0001_initial.pyc
blog/migrations/0002_auto_20170206_2109.pyc
blog/migrations/__init__.pyc
blog/models.pyc
blog/urls.pyc
blog/views.pyc
blog/forms.pyc
blog/migrations/0003_comment.pyc
blog/migrations/0004_auto_20170314_2057.pyc
blog/migrations/0004_auto_20170307_0148.pyc
blog/migrations/0005_auto_20170315_1324.pyc
news/news/__init__.pyc
news/news/pipelines.pyc
news/news/settings.pyc
news/news/spiders/__init__.pyc
news/news/spiders/items.pyc
news/news/spiders/log_files.pyc
news/news/spiders/timesnews.pyc
static/
blog/migrations/0006_post_caption.pyc
blog/migrations/0007_remove_post_image_name.pyc
blog/migrations/0008_post_image_name.pyc
news/news/spiders/Logs/
