{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and/or password didn't match. Please try again.</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" class="btn btn-default">
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <a class="btn btn-default" href="{% url 'sign_up' %}">Sign Up</a>
                </td>
                <td>
                    <p><a href="{% url 'password_reset' %}">Forgot password</a></p>
                </td>
            </tr>
        </table>


    </form>
    <div>
    </div>
    <div>
    </div>
{% endblock %}
