
{% autoescape off %}

<p style="font-size:30px; font-family:verdana, sans-serif; color:green; text-align:center;"><strong>Django Boys</strong></p>

<div style="position:relative; font-family:verdana, sans-serif; top:20px; font-size:15px;">
    <p ><strong>Hola {{ user.username }},</strong></p><br>
    <p>You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.</p><br>
    <p>Please go to the following page and choose a new password:<br><br>
    <strong>
        {% block reset_link %}
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        {% endblock %}
    </strong>
    </p>
    <br>
    <p>If the above link does not work then please copy the complete url and paste it on a new tab/browser.</p>
    <br>
    <p>Your username, in case you've forgotten: <strong>{{ user.username }}</strong></p><br>
    <p>If you haven't requested for password reset then please ignore this email.</p><br>
</div>
<div style="position:bottomleft; font-family:verdana, sans-serif; font-size:15px;">
    <p>The<strong><em> {{ site_name }} </em></strong>team.</p>
</div>

{% endautoescape %}