{% extends "blog/base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}

    {% if validlink %}
        <div class="post">
            <h1>Enter new password</h1>
        </div>
        <p>Please enter your new password twice.</p>
        <form method="POST" action="">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table class="table">
                <tr>
                    <td><strong>New password:</strong></td>
                    <td>{{ form.new_password1 }}</td>
                    <td>{{ form.new_password1.errors }}</td>
                </tr>
                <tr>
                    <td><strong>Confirm password:</strong></td>
                    <td>{{ form.new_password2 }}</td>
                    <td>{{ form.new_password2.errors }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" class="btn btn-default"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            <h3>Password reset failed :(</h3>
        </div>
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p><a href="{% url 'password_reset' %}">Please request a new password reset.</a></p>
    {% endif %}

{% endblock %}
