{% extends "blog/base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}

    {% if validlink %}
        <h1>Enter new password</h1>
        <p>Please enter your new password twice.</p>
        <form method="POST" action="">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td><strong>New password:</strong></td>
                    <td>{{ form.new_password1 }}</td>
                    <td>{{ form.new_password1.errors }}</td>
                </tr>
                <tr>
                    <td><strong>Confirm password:</strong></td>
                    <td>{{ form.new_password2 }}</td>
                    <td>{{ form.new_password2.errors }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" class="btn btn-default"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}

{% endblock %}
