{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Invalid email id.</p>
    {% endif %}
    <div>
        <h1>Password Reset</h1>
    </div>
    <div>
        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    </div>
    <form method="POST" action="">
        <div style="display:none">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>
        <p>
            <label for="id_email">E-mail address:</label> {{ form.email }}
            <input type="submit" value="Reset password" class="btn btn-default"/>
        </p>
        <p></p>
    </form>
{% endblock %}


