{% extends "blog/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% for post in posts %}
                <div class="post" style="padding: 0px 100px 0px 70px;">
                    <ul>
                        <li>
                            <p class="date">By {{ post.author }} on {{ post.creation_date }}</p>
                            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        </li>
                    </ul>
                </div>
    {% empty %}
        {% if user.is_staff %}
        <div class="post">
            <span class="text-info" style="height:50%; width:65%; position:fixed; display:flex; align-items:center; justify-content:center; font-size:55px; text-shadow: 0 5px 20px rgba(0,0,0,0.4); ">
            <b>No post to review!</b>
            </span>
        {% else %}
            <span class="text-danger" style="height:50%; width:65%; position:fixed; display:flex; align-items:center; justify-content:center; font-size:55px; text-shadow: 0 5px 20px rgba(0,0,0,0.4); ">
                <b>Nothing's here yet!</b>
            </span>
            <div style="height:75%; width:65%; position:fixed; display:flex; align-items:center; justify-content:center;">
                <p style="font-size: 20px;">Come back once you save a new post.</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
