.post h2 a, .post h1, .post h3 a
{
    color: #8F0707;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

.post h2 a:hover, .post h2 a:focus, .post h3 a:focus, .post h3 a:hover
{
    color: #1D2E8C;
    text-decoration: none;
}

.page-header {
    background-color: #026910;
    margin-top: 0;
    padding: 20px 30px 20px 60px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

.content {
    margin-left: 50px;
}

h1, h3,{
    font-family: 'Lobster', cursive;
}

.date {
    color: #9A9FA1;

}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 20px;

}

.base-menu, .base-menu:hover, .base-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 14pt;
    margin-right: 50px;
    margin-top:-20px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.post h4 {
font-family: 'Bitter', serif;
}

p {
    font-family: "Bitter", serif;
    font-size: 15px;
}

.notice h1 {
font-family: 'Bitter', serif;

}

.post {
    margin-bottom: 70px;
}


.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }


#social-fb:hover {
     color: #1844A1;
 }
 #social-gt:hover {
     color: #313A3D;
 }
 #social-gp:hover {
     color: #D92E18;
 }
 #social-em:hover {
     color: #EDB32B;
 }

 html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  background-image: url("/static/background.jpg");
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}

